<!-- episodes -->
<div class="wrapper style">
	<article>
		<header>
			<h2>mediaCenter -  SAMPLE</h2>
			<p><b>{{selection[0][0].name}}</b></p>
		</header>

		<div class="container">
			<div class="row" ng-repeat="group in selection">
				<div class="2u" ng-repeat="season in group" >
					<article class="box style">
						<header><b>Season {{season[0].season}}</b></header>
						<ul ng-repeat="episode in season | reverse">
							<li>
								<a href="#/episodeById/{{episode.episodeId}}">{{ "S" + episode.season + "E" + episode.episode}}</a>
							</li>
						</ul>
					</article>
				</div>
			</div>
		</div>
	</article>
</div>