<!-- movies -->
<div class="wrapper style">
	<article>
		<header>
			<h2>mediaCenter</h2>
			<p>Moving Pictures</p>
		</header>

		<div class="container">
			<div class="row" ng-repeat="row in selection" >
				<div class="2u" ng-repeat="item in row">
					<article class="box style">
						<a href="#/movieById/{{item.id}}" class="image featured"><img ng-src="{{item.thumbPath}}" /></a>
						<b><a href="#/movieById/{{item.id}}">{{item.name}}</a></b>
					</article>
				</div>
			</div>
		</div>
	</article>
</div>